{% extends 'main/base.html' %}

{% block title %}Выбор основных параметров{% endblock%}
{% load static %}
{% block content %}

<h1>Калькулятор шкафов "Бидермайер"</h1>
<h2>Выбор опций</h2>

<ul uk-accordion="collapsible: false; multiple: true">
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Item 1</a>
        <div>Выбор</div>
        <div class="uk-accordion-content">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                    <ul class="uk-slider-items uk-grid">
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/photo.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                    <button class="uk-button uk-button-primary uk-button-small">Выбрать</button>
                                </div>
                            </div>
                        </li>
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/dark.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </li>
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/light.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover"
                       href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover"
                       href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Item 2</a>
        <div class="uk-accordion-content">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                    <ul class="uk-slider-items uk-grid">
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/photo.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                    <button class="uk-button uk-button-primary uk-button-small">Выбрать</button>
                                </div>
                            </div>
                        </li>
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/dark.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </li>
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/light.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover"
                       href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover"
                       href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Item 3</a>
        <div class="uk-accordion-content">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                    <ul class="uk-slider-items uk-grid">
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/photo.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                    <button class="uk-button uk-button-primary uk-button-small">Выбрать</button>
                                </div>
                            </div>
                        </li>
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/dark.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </li>
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/light.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover"
                       href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover"
                       href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Item 4</a>
        <div class="uk-accordion-content">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                    <ul class="uk-slider-items uk-grid">
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/photo.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                    <button class="uk-button uk-button-primary uk-button-small">Выбрать</button>
                                </div>
                            </div>
                        </li>
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/dark.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </li>
                        <li class="uk-width-4-5">
                            <div class="uk-panel">
                                <img src="{% static 'images/light.jpg' %}" width="1800" height="1200" alt="">
                                <div class="uk-position-center uk-text-center">
                                    <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                                    <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover"
                       href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover"
                       href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>
        </div>
    </li>
</ul>

<div class="uk-section">
    <h2>Габаритные размеры</h2>
    <div class="uk-container uk-column-1-2@s">
        <form class="uk-form-stacked">
            <img src="{% static 'images/empty_box.jpg' %}" alt="">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Ширина</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text.1..">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Высота</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text.2..">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Глубина</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text..3.">
                </div>
            </div>
        </form>
    </div>
</div>
<p>Ориентировочная стоимость: <strong id="total">15000</strong></p>
<div class="uk-section">
    <h2>"Элементы"</h2>
    <div class="uk-container">
        <div class="elements uk-grid">
            <div class="uk-card uk-card-default element-card uk-width-1-4@m uk-width-1-3@s uk-width-1-2">
                <div class="uk-card-media-top">
                    <img src="{% static 'images/option.png' %}" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Вешалки</h3>
                    <p>Вариации могут быть любые</p>
                </div>
            </div>
            <div class="uk-card uk-card-default element-card uk-width-1-4@m uk-width-1-3@s uk-width-1-2">
                <div class="uk-card-media-top">
                    <img src="{% static 'images/option.png' %}" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Вешалки</h3>
                    <p>Вариации могут быть любые</p>
                </div>
            </div>
            <div class="uk-card uk-card-default element-card uk-width-1-4@m uk-width-1-3@s uk-width-1-2">
                <div class="uk-card-media-top">
                    <img src="{% static 'images/option.png' %}" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Вешалки</h3>
                    <p>Вариации могут быть любые</p>
                </div>
            </div>
            <div class="uk-card uk-card-default element-card uk-width-1-4@m uk-width-1-3@s uk-width-1-2">
                <div class="uk-card-media-top">
                    <img src="{% static 'images/option.png' %}" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Вешалки</h3>
                    <p>Вариации могут быть любые</p>
                </div>
            </div>
            <div class="uk-card uk-card-default element-card uk-width-1-4@m uk-width-1-3@s uk-width-1-2">
                <div class="uk-card-media-top">
                    <img src="{% static 'images/option.png' %}" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Вешалки</h3>
                    <p>Вариации могут быть любые</p>
                </div>
            </div>
            <div class="uk-card uk-card-default element-card uk-width-1-4@m uk-width-1-3@s uk-width-1-2">
                <div class="uk-card-media-top">
                    <img src="{% static 'images/option.png' %}" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Вешалки</h3>
                    <p>Вариации могут быть любые</p>
                </div>
            </div>
            <div class="uk-card uk-card-default element-card uk-width-1-4@m uk-width-1-3@s uk-width-1-2">
                <div class="uk-card-media-top">
                    <img src="{% static 'images/option.png' %}" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Вешалки</h3>
                    <p>Вариации могут быть любые</p>
                </div>
            </div>
            <div class="uk-card uk-card-default element-card uk-width-1-4@m uk-width-1-3@s uk-width-1-2">
                <div class="uk-card-media-top">
                    <img src="{% static 'images/option.png' %}" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Вешалки</h3>
                    <p>Вариации могут быть любые</p>
                </div>
            </div>
        </div>
    </div>

</div>

<p>Ориентировочная стоимость: <strong id="total">15000</strong></p>

{% endblock%}