{% extends 'main/base.html' %}

{% block title %}Контакты{% endblock%}

{% block content %}
<h1>Контакты компании</h1>
        <!-- Карта яндекса -->
        <div class="map-contacts">
            <script
                    type="text/javascript"
                    charset="utf-8"
                    async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aac2d08da88ed8c04b2364718d0bcf70fbea657e8b7a90356acdb44d48b14293e&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true">
            </script>
        </div>
            <h3>Отдел продаж:</h3>
            <p>Телефоны:</p>
            <p>8-961-973-66-08</p>
            <p>8-961-973-66-08</p>
            <br>
            <p>Адрес: Промзона в ебенях, стр. 42</p>
            <br>
            <p>График работы:</p>
            <p>ПН — ПТ с 10:00 до 21:00</p>
            <p>СБ — ВС с 10:00 до 20:00</p>
<h3>Отдел продаж:</h3>
            <p>Телефоны:</p>
            <p>8-961-973-66-08</p>
            <p>8-961-973-66-08</p>
            <br>
            <p>Адрес: Промзона в ебенях, стр. 42</p>
            <br>
            <p>График работы:</p>
            <p>ПН — ПТ с 10:00 до 21:00</p>
            <p>СБ — ВС с 10:00 до 20:00</p>
{% endblock%}