{% extends 'main/base.html' %}

{% block title %}Контакты{% endblock%}

{% block content %}
<h1>Контакты компании</h1>
<!-- Карта яндекса -->
<div class="map-contacts">
    <script
            type="text/javascript"
            charset="utf-8"
            async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3a3853224cc211f4b4ca2d52fbf1e05ac04271b3374ea08ef366a9ff4bbf31ff&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true">

    </script>
</div>

<h3>ООО «Компания Лайн»</h3>

<p>Телефоны:</p>
<p>8 910 829-80-28</p>
<p>8 4855 40-40-07</p>

<p>График работы:</p>
<p>ПН — ПТ с 9:00 до 18:00</p>

<p><strong>Адрес юридический/фактический:</strong> 152901, Ярославская область, Рыбинский р-н, г. Рыбинск, ул. Крестовая/ул. Ломоносова,
    д. 50/4, офис 12</p>

<p><strong>Телефоны:</strong> +7 (4855) 20-46-90</p>

<p><strong>Email:</strong> info@bidermaier.com</p>

<p><strong>Банк:</strong> <br>
    Ярославский филиал ПАО «Промсвязьбанк» г. Ярославль<br>
    Р/счет 40702810902000027139<br>
    К/счет 30101810300000000760<br>
    ИНН 7610049899<br>
    КПП 761001001<br>
    БИК 047888760<br>
    ОГРН 1027601114243<br>
    ОКПО 52934628<br>
    ОКТМО 78715000001<br>
    ОКВЭД 46.90<br>
    ОКОПФ 65</p>
<p><strong>Директор:</strong> Петров Денис Викторович</p>
{% endblock%}